- if current_user.present? 
  - if @favourite.present? && @favourite.persisted?
    $(".ufv_#{@favourite.book_id}").attr("src","#{asset_path('like-able.svg')}");
    $(".ufv_#{@favourite.book_id}").removeClass("favourite");
    $(".ufv_#{@favourite.book_id}").addClass("unfavourite");
    $(".ufv_#{@favourite.book_id}").attr("id", "fv_#{@favourite.book_id}");
    $(".ufv_#{@favourite.book_id}").addClass("fv_#{@book.id}");
    $(".ufv_#{@favourite.book_id}").removeClass("ufv_#{@book.id}");
    $("#fav_book_list").append("#{escape_javascript(render(partial: "search/book", locals:{book: @book, is_fav: true}))}")
    $("#favourite-tab").text("Favourite (#{@fav_books || 0})")
- else 
  window.location = "/users/sign_in";
